{% extends "base.html" %}

{% block title %}
Edit About
{% endblock %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_birth_date").datepicker({
            'dateFormat': 'yy-mm-dd', 
            //{% if form.birth_date %}
            'defaultDate': '{{form.birth_date}}'
            //{% endif %}}
        });

    });
</script>
{% endblock %}

{% block content %}
<h1>Edit About</h1>
<form method="POST">
<table>
    {{form.as_table}}
</table>
<input type="submit" value="Update"/>
</form>
<br/>
<br/>
<br/>
<div style="float: right;">
    <a href="/accounts/logout/?next=/about/">Logout</a>
</div>
{% endblock %}